html,
body,
#root,
#video_editor_canvas_container_1 {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-white {
  color: white;
}

/* Center fabric js canvas horizontally */
.canvas-container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
}